<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
  <title>설문조사</title>
</head>
<body class="bg-light">
  <form class="container mt-5 fw-bold bs-primary card shadow p-4 rounded-5" onsubmit="start(Event)">
    <div>
      <h1 class="title nav justify-content-center">🎯 취미 설문조사</h1>
      <hr/>
      <h3 class="description nav justify-content-center fw-bold ms-3 mt-3 fs-5">
        취미 활동에 대한 설문조사입니다.<br/>
      </h3>
      <h3 class="description nav justify-content-center fw-bold ms-3 fs-5 mt-3">
        설문으로 데이터를 수집하고 사용자에게 취미를 추천해줍니다.
      </h3>
    </div>
    <hr/>
    <div class="nav justify-content-center mt-3">
      <label for="username" class="fs-4">📝 이름</label>
      <input type="text" class="username ms-3" id="username" placeholder="이름을 입력해주세요.">
      <input type="submit" class="btn btn-primary ms-3" value="확인">
    </div>
  </form>
  <script src="../scripts/main.js"></script>
</body>
</html>